# Godot 4+ specific ignores
.godot/
/android/

# Temp copies Godot makes of locked native libraries on Windows
# (~foo.dll and ~foo.dll~RF1234.TMP)
~*.dll*

# Local Machine files godot generates
*.import*
*.md6*
*.mesh*
*.ctex*
*.scn*
*.bin*

# Godot interrupted-save leftovers
*.tmp
